h1 {
    color:blue;
}

table {
    border:6px solid purple;
    border-collapse: collapse;
}
tfoot {
    color:green;
}
th ,td{
    border:2px solid black;
    padding:3px;
    
}

tr td:last-child{
    text-align: right;
}
body {
     font-family: Arial, Helvetica, sans-serif;
}